body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

header {
  text-align: center;
}

figure {
  
  font-size:14px;
}

nav a {
  padding: 0 10px;
  background-color: grey;
}

#featured-property p {
  margin-left: auto;
  margin-right: auto;
  
  width: 800px;
}

#featured-property {
  text-align: center;
}

#details {
  display: block;
  width: 100%;
  text-align: center;
}

#details div {
  float: left;
  background-color: red;
  width: 25%;
  
}