body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#lRoom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
nav {
  text-align: center;
}
figcaption {
  text-align: center;
  font-size: 14px;
}
#featured-property p {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#details div {
  display: block;
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}